/* btn */
.btn {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: var(--fs-sm);
  line-height: 21px;
  border-radius: 40px;
  cursor: pointer;
  transition: all $transition;
  &--md {
    padding: 10px 55px;
  }
  &--lg {
    padding: 11px 60px;
  }
}

.btn--border-indig-400 {
  color: var(--indigo-400);
  border: 1px solid var(--indigo-400);
}

.btn--border-indig-400:hover {
  background-color: var(--indigo-400);
  color: var(--grey-50);
}

.btn--gradient {
  background: var(--linear-gradient);
  border: 1px solid var(--grey-50);
  color: var(--grey-50);
  transition: background $transition;
}

.btn--gradient:hover {
  background: transparent;
}
